<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.thehorror.quiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.thehorror.quiz.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.thehorror.quiz.QuizActivity"
            android:label="@string/quiz_page" >
        </activity>
        <activity
            android:name="se.thehorror.quiz.LoserActivity"
            android:label="@string/title_activity_loser" >
        </activity>
        <activity
            android:name="se.thehorror.quiz.EndActivity"
            android:label="@string/title_activity_end" >
        </activity>
    </application>

</manifest>
